<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/header') %> 
<body>
    <%- include('partials/navbar') %> 
    
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include('partials/menu') %>      
       
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="row layout-top-spacing">                          
                </div>
                <a href=""></a>
            </div>
<%- include('partials/footer') %> 